pydantic-settings
category-encoders

Connexion to serveur :
- Install fastapi library : pip install fastapi
- Run the command in your terminal : uvicorn app.main:app --reload
- Open your browser and enter the URL : http://localhost:8000/
